#table {
  width: 1024px;
  height: 850px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 83px;
}
.header-row {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.button-container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.delete-button-static{
  width: 76px;
  height: 28px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  color: #c0c0c0;
  background: transparent;
  font-size: 15px;
  justify-self: flex-end;
  cursor: pointer;
}
.delete-button-static:hover{
  border: 1px solid #ff0000;
  color: #ff0000;
}
.delete-button-active{
  width: 76px;
  height: 28px;
  border: 1px solid #ff0000;
  color: #ff0000;
  border-radius: 4px;
  background: transparent;
  font-size: 15px;
  justify-self: flex-end;
  cursor: pointer;
}
.delete-button-active:hover{
  border: 1px solid #ff0000;
  background: #ff0000;
  color: #fff;
}
table {
  border-collapse: collapse;
  position: relative;
}

table tbody tr th {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: 400;
  text-align: left;
  position: relative;
}
table tbody tr {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  height: 43px;
  position: relative;
}

.checkbox-column {
  width: 40px;
  position: relative;
}

.user-table-row:hover{
background: #FAFAFA;

}
table tbody tr td {
  font-size: 13px;
  font-weight: 300;
  position: relative;
}
.tool-tip{
  width: auto;
  height: auto;
  position: absolute;
  z-index: 100;
  top: -40px;
  left: 50px;
  visibility: hidden;
  background: white;
  border-radius: 5px;
  border-top: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px 1px black;
}
